{
  "extends": [
    "@gemunion/eslint-config/presets/ts",
    "@gemunion/eslint-config/tests/jest",
    "@gemunion/eslint-config/tests/testing-library"
  ],
  "parserOptions": {
    "project": "./tsconfig.test.json"
  },
  "root": true
}
